

<div class="alert alert-block alert-info" style="width:400px, text-color:black"> 
For this task we will use  the <a href="https://www.kaggle.com/datasets/nipunarora8/age-gender-and-ethnicity-face-data-csv?select=age_gender.csv">age-gender-and-ethnicity-face dataset</a> which contains a number of images, each accompanied with features recording the age,  gender,  and ethnicity of the person in the image. This is a  version of the <a href="https://susanqq.github.io/UTKFace/" > UTKface dataset</a>, modified to make it easer to load as one file.<br>
Please note that
    <ul>
        <li>It happens not contain any people who self-identified as non-binary. So gender is labelled as 0 (male) or 1 (female)</li>
        <li> Ethicity is coded as an integer from 0 to 4, denoting White, Black, Asian, Indian, and Others (like Hispanic, Latino, Middle Eastern) (terms from original site).</li>
          <li>  Each row of this version of the dataset contains integer values for the three features, a string with the name or the original jpg from the UTK archive, and a feature called 'pixels' which contains the 48x48 pixels values as a string.</li>
    </ul>

The next two cells load the data into a pandas dataframe and then shpw the first ten lines.

In [7]:
import numpy as np 
import pandas as pd
import os
import socket

In [8]:
if (socket.gethostname()=='csctcloud'): #on csctcloud
    path="/home/common/datasets/"
else: #machine specific- this is for jim's development
    path = "../datasets"
dataframe = pd.read_csv(path+'/utk/teacher_pupil.csv')
dataframe.head()

,age,ethnicity,gender,img_name,pixels,label
0,1,2,0,20161219203650636.jpg.chip.jpg,129.0 128.0 128.0 126.0 127.0 130.0 133.0 135....,pupil
1,1,2,0,20161219222752047.jpg.chip.jpg,164.0 74.0 111.0 168.0 169.0 171.0 175.0 182.0...,pupil
2,1,2,0,20161219222832191.jpg.chip.jpg,67.0 70.0 71.0 70.0 69.0 67.0 70.0 79.0 90.0 1...,pupil
3,1,2,0,20161220144911423.jpg.chip.jpg,193.0 197.0 198.0 200.0 199.0 200.0 202.0 203....,pupil
4,1,2,0,20161220144914327.jpg.chip.jpg,202.0 205.0 209.0 210.0 209.0 209.0 210.0 211....,pupil

### Let's start by splitting the images into a different dataframe

In [19]:
imgs = dataframe['pixels'].to_numpy()
imgs = np.split(imgs)#.reshape(-1,48,48,1)
print(imgs.shape)

TypeError: _split_dispatcher() missing 1 required positional argument: 'indices_or_sections'

</div>

and train classifiers to recogtnise their faces using no augmentation, or different types of augmentation. 
Questions to investigate:
1. Which of these are valid transformations for human faces?:
 - horizontal shifts
 - vertical shifts
 - rotation
 - horizontal flips
 - vertical flips
To do this investigation using appropriate scientific method, treat each of these as a hypothesis to be tested. Take a number of observations (e.g. accuracy of trained model) for each case (e.g. using horizontal flips vs not using horizontal flips) then compare the meana results and use appropriate statistcal tests to determine whethe the results are statistically significanrtly differernt.

In [2]:
import numpy as np 
import pandas as pd
import os
import socket

from matplotlib import pyplot as plt
import tensorflow as tf
import random
import math
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.utils import to_categorical

In [4]:
if (socket.gethostname()=='csctcloud'): #on csctcloud
    path="/home/common/datasets/"
else: #machie specific- this is for jim's development
    path = "../datasets"
dataframe = pd.read_csv(path+'/utk/teacher_pupil.csv')
dataframe.head()

,age,ethnicity,gender,img_name,pixels,label
0,1,2,0,20161219203650636.jpg.chip.jpg,129.0 128.0 128.0 126.0 127.0 130.0 133.0 135....,pupil
1,1,2,0,20161219222752047.jpg.chip.jpg,164.0 74.0 111.0 168.0 169.0 171.0 175.0 182.0...,pupil
2,1,2,0,20161219222832191.jpg.chip.jpg,67.0 70.0 71.0 70.0 69.0 67.0 70.0 79.0 90.0 1...,pupil
3,1,2,0,20161220144911423.jpg.chip.jpg,193.0 197.0 198.0 200.0 199.0 200.0 202.0 203....,pupil
4,1,2,0,20161220144914327.jpg.chip.jpg,202.0 205.0 209.0 210.0 209.0 209.0 210.0 211....,pupil

# The main task:

- Experiment with different orts of datau augmenation available within keras e.g. x-y shifts, rotations, translations and vertical/ horizontal flips.
- Design an appropriate methodology to evaluate what difference they make singly or in combination to the classification accuracy of the trained system?  
  *Hint*: If you are making several changes to a system you need some way of knowing which have had an effect: [ilustrated in 200 words](https://thaddeus-segura.com/data-aug/)

### class discussion
does data augmentation provide a away of addressing:
- ethical concerns about under-representation of certain groups
- safety concerns for example wrt autonomous vehicles